* {margin: 0; padding: 0; box-sizing: border-box; }

body {
    flex: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    top: 50px;
    right: 200px;
    font-size: large;
    padding: 10px 20px;
}